<% provide(:title, "About") %>

<h1>History</h1>

The DSDA first formed out of Opulent's personal demos page,
as written in the oldest news post therein, dated September 2000:
<div class="well well-sm">
  	Page opens; updated my Individual demos page to this page. Again, I encourage anyone to submit a demo. -- I know that the average skill level of these demos is pretty high, but since I know I won't get many takers, don't be afraid to send me a demo. It can be of you on your level on skill 2 using Jdoom. I do have preferences(see info page), but overall.anything goes.  I am starting this page with the release of  Doomworld's 10 sectors contest in hope that that will encourage more demo activity.  Expect some hurriedly recorded 10 sectors demos from me shortly.  Demos are the best way to show off a level, so start recording...
</div>

The first submission to the archive was a 34 demo Hell Revealed pack by Ryback in October 2000.  Opulent wrote an <a href="http://www.doomworld.com/10years/demos/demos01.php">article</a> in December 2003 on the history of doom demo recording, including this passage about his inspiration for the archive:
<div class="well well-sm">
  Andy Olivera is one of the most accomplished people in the DOOM community.  His all-in-one site was the first to be a review site, have his own demos, and make his own levels.  All with a quality that you'd think he was dedicated to only one of them; as well as being during a time when almost no other established sites were having regular updates.  Besides his own demos, he was the administrater of the Wad Master's Competition, a pwad contest done at regular intervals.  His site provided the root of the content and the main inspiration for the DOOMed Speed Demos Archive.  Besides Yonatan, Andy was the most influencial person in pwad single-player demos ever.
  <br>...<br>
  The DOOMed Speed Demos Archive(DSDA).  A cheap knockoff(I like to think of it as a tribute ;) of the Quake Speed Demos Archive, the DSDA is home to a very large collection of demos for third-party maps.   The first major site to allow demos recorded with source ports, it was started in August 2000 by me and allows demos of virtually any type of recording.
</div>

Andy Olivera introduced the second incarnation of the site in November 2008, as detailed in his first news post:
<div class="well well-sm">
  Greetings DooMers! Andy Olivera here. It's been a long time coming, but the new, improved DooMed Speed Demos Archive is finally here.
  <br><br>
  Some background: This redesign was born approximately two years ago when Opulent was feeling down. It occured to me that having all those demos piling up would make the updating process a daunting task: updating each of the over 900 WAD pages individually, moving the files to their proper locations, keeping the tables up to date with entries from the dormant(dead?) Compet-N. I came to the conclusion that the DSDA had grown too large for manual updating and a new approach was needed. Whether this new approach would be utilized by Opulent, myself or someone else, I didn't know. So, with my meager coding knowledge I set out to redesign the DSDA as a dynamic, database-generated website. I had no idea it would take so long!
  <br><br>
  The backend portion took around six months. My first instinct was to use phpMyAdmin, but for the amount of records I needed to enter, it was just too slow and bloated. The initial plan was to write a simple record entry script. Thankfully, as I was writing and learning a bit more about PHP, it evolved into an efficient system of record management and file handling. That evolution probably saved me from getting burned out and abandoning the project during the next step.
  <br><br>
  Next up was the task of entering all the existing demos into the database. This took nearly 18 months and was incredibly tedious. Third, and finally, came the designing of the actual website. This step was a picnic compared to the other two. Though it did contain a few hurdles and the site didn't arrive with all the superfluous features I'd planned, I'm satisfied with the way it's turned out and I think you will be, too.
  <br>...<br>
  And finally, in closing this inaugural update I think it important to salute the man who created all this in the first place. Doug "Opulent" Merrill kept the DSDA running smoothly for almost seven years. That's the longest any DooM demo site operator has managed to hang on. A glance at the site statistics above should give you an idea as to just how much work this entailed and the level of dedication required. So if you're a demo-lover as well, drop him an eMail and thank him for his years of service.
</div>
