<% provide(:title, 'New Player Advice') %>
<% provide(:description, 'Advice for players new to Doom speedrunning') %>

<h2>Advice for new players</h2>

<h3>Running Doom & Doom 2 (IWADs)</h3>

<p>
  As a new runner, it may seem obvious to start with Doom 1, Episode 1.
  However, this episode is quite demanding and frustrating (not just for new
  runners).
  There is a lot of luck involved, due to unavoidable damage from zombiemen.
  That luck is mitigated by better movement: the more you play, the less luck
  you'll need.
  This relationship between skill and luck makes Episode 1 particularly
  inefficient if you are trying to improve at the game.
  You won't be getting as much "real" experience.
  If you're bent on starting with something from the original games,
  Doom 1, Episode 2 is a good option.
  This run has some cool tricks that will get you into speedrunning the game,
  but is much less demanding and not as punishing.
</p>

<p>
  Doom 2 is a highly technical run.
  To mimic the WR is nigh impossible for a new player, because there is
  a huge cataloge of knowledge required to get through it.
  Furthermore, the rule above applies: the less skilled you are,
  the more luck you need to survive.
  You could use an old route, but you'll have difficulty finding
  resources to help you learn it.
  That being said, if you are into learning a lot of tricks and willing to
  grind, this can still be a rewarding endeavor!
</p>

<p>
  <strong>
    The most important thing is to pick something you enjoy,
    and that will motivate you to keep improving!
  </strong>
  Feel free to take any approach that works for you, and ask for help in the
  discord. We are happy to assist you in your journey!
</p>

<h3>Improving Movement</h3>

<p>
  Improving your movement has a ripple effect of making everything easier.
  It boils down to a simple principle: the less time you spend in any area,
  the less damage you'll take from hitscans (unavoidable gunshots).
  A little time invested early on can save you a ton of time in your efforts.
</p>

<p>
  Doom happens to have a special commandline parameter, <code>-nomonsters</code>,
  which allows you to play the game without enemies.
  The use of this parameter is actually quite common in doom speedrunning,
  to the point where we have an official category for this,
  and some of the most impressive runs have come out of it.
  The positive benefit of investing time in this category can't be understated.
</p>

<p>
  A common suggestion is to play Doom 2 Map 31 NoMo (normal exit)
  and try to get in the 31-33s range.
  This run is relatively "simple" but will get you comfortable with sr40 / sr50
  and with movement around doors, which is not as trivial as it sounds.
  The current record (as of writing this) is 28.91 by Looper.
  Check out the run and see what time you can get.
  Most importantly, feel free to ask in the discord for a critique if you aren't
  sure what you're missing to get a faster time.
</p>

<h3>Running Custom Maps (PWADs)</h3>

<p>
  It might surprise you to know that the vast majority of Doom speedrunning
  activity happens on custom maps. The community of mappers is incredibly
  active to this day, and the maps offer new and exciting challenges that
  attract both casual players and speedrunners.
</p>

<p>
  Since the pool of maps outpaces the number of runners, PWADs offer you the
  opportunity to route something new, or to compete against players that
  are closer to your skill level (when compared with more optimized IWAD maps).
  The variety of gameplay also means you can work on a lot of different skills,
  which will help you a lot as you progress.
</p>

<p>
  For some players this is more satisfying than competing against IWAD records,
  but what works best is something for you to find out.
  If you want any suggestions on PWADs to try out, or runs to look into,
  just ask in the discord.
</p>

<h3>Running ILs</h3>

<p>
  While running full episodes or full games has a certain appeal, it can be
  counter-productive when you are starting off.
  It can be a good idea to pick levels / runs that you enjoy and working on them
  instead.
  This also will give you a shorter "optimization cycle", where you can
  improve a run quickly and move onto the next thing
  (or stay and grind out something special).
</p>
