<% provide(:title, 'Changelog') %>

<h1>Changelog</h1>
<hr>
<h3>July 02 2019</h3>
<ul>
  <li>Implement demo year cache</li>
</ul>
<h3>July 01 2019</h3>
<ul>
  <li>Temporarily disable demo count by year plot</li>
</ul>
<h3>June 28 2019</h3>
<ul>
  <li>Fixed secret exits not showing in episode views</li>
  <li>Fixed caching issue with record icons</li>
  <li>Updated level selection options on wad pages</li>
  <li>Increased wad full render limit to 1000</li>
  <li>Move incompatible demos to Other (for some wads)</li>
  <li>Remove record timeline icon from Other</li>
  <li>Fix player stats</li>
</ul>
<h3>June 25 2019</h3>
<ul>
  <li>Player record index now updates automatically</li>
</ul>
<h3>June 23 2019</h3>
<ul>
  <li>Added table view link to wad page</li>
  <li>Table view cross-lists demos from compatible categories</li>
  <li>Added category selector to table view</li>
</ul>
<h3>June 21 2019</h3>
<ul>
  <li>Added changelog</li>
  <li>Fixed demo feed default to use upload date</li>
  <li>Renamed the "Rules" page to "Intro"</li>
  <li>Added icons for record (by tics) and record (first to the second)</li>
</ul>
