<% provide(:title, 'Changelog') %>

<h1>Changelog</h1>
<hr>
<h3>June 21 2019</h3>
<ul>
  <li>Added changelog</li>
  <li>Fixed demo feed default to use upload date</li>
  <li>Renamed the "Rules" page to "Intro"</li>
  <li>Added icons for record (by tics) and record (first to the second)</li>
</ul>
