<% provide(:title, 'Changelog') %>

<h1>Changelog</h1>
<hr>
<h3>July 28 2019</h3>
<ul>
  <li>Improve maintenance tooling</li>
</ul>
<h3>July 27 2019</h3>
<ul>
  <li>Fix some issues related to demo removal</li>
  <li>Align times without tics</li>
</ul>
<h3>July 24 2019</h3>
<ul>
  <li>Fix record index rank number</li>
  <li>Fix an issue with record index calculation</li>
  <li>Add a label for solo_net (SN)</li>
</ul>
<h3>July 20 2019</h3>
<ul>
  <li>"Other Movie" removed from table view</li>
  <li>Secret exits removed from table for single-exit categories</li>
</ul>
<h3>July 18 2019</h3>
<ul>
  <li>Improve tooling for error fixing</li>
</ul>
<h3>July 12 2019</h3>
<ul>
  <li>Temporarily disable settings (broken js)</li>
  <li>Update home page (archive status)</li>
  <li>Update about page (new thanks)</li>
</ul>
<h3>July 11 2019</h3>
<ul>
  <li>Update intro page (game speed text)</li>
</ul>
<h3>July 07 2019</h3>
<ul>
  <li>Cache record index on demos for faster computation</li>
</ul>
<h3>July 05 2019</h3>
<ul>
  <li>Add logic for player merging (for fixes)</li>
</ul>
<h3>July 03 2019</h3>
<ul>
  <li>Add note that dates are estimated</li>
  <li>Add rank to record index table</li>
  <li>Update home page with status</li>
</ul>
<h3>July 02 2019</h3>
<ul>
  <li>Implement demo year cache</li>
  <li>Enable demo count by year plot</li>
</ul>
<h3>July 01 2019</h3>
<ul>
  <li>Temporarily disable demo count by year plot</li>
</ul>
<h3>June 28 2019</h3>
<ul>
  <li>Fixed secret exits not showing in episode views</li>
  <li>Fixed caching issue with record icons</li>
  <li>Updated level selection options on wad pages</li>
  <li>Increased wad full render limit to 1000</li>
  <li>Move incompatible demos to Other (for some wads)</li>
  <li>Remove record timeline icon from Other</li>
  <li>Fix player stats</li>
</ul>
<h3>June 25 2019</h3>
<ul>
  <li>Player record index now updates automatically</li>
</ul>
<h3>June 23 2019</h3>
<ul>
  <li>Added table view link to wad page</li>
  <li>Table view cross-lists demos from compatible categories</li>
  <li>Added category selector to table view</li>
</ul>
<h3>June 21 2019</h3>
<ul>
  <li>Added changelog</li>
  <li>Fixed demo feed default to use upload date</li>
  <li>Renamed the "Rules" page to "Intro"</li>
  <li>Added icons for record (by tics) and record (first to the second)</li>
</ul>
