<% provide(:title, 'Changelog') %>
<% provide(:description, 'List of the major changes and feature releases') %>

<h1>Changelog</h1>
<hr>
<h3>July 08 2025</h3>
<ul>
  <li>Add history view for the wad page</li>
  <li>Add 404 page</li>
  <li>Add favicon</li>
  <li>Make dropdown scrollable</li>
  <li>Add dropdown to feed</li>
</ul>
<h3>July 06 2025</h3>
<ul>
  <li>Add Stats link to the view dropdown</li>
  <li>Fix Wad list cutting out on mobile screens</li>
  <li>Fix collapsible navbar not working</li>
</ul>
<h3>July 04 2025</h3>
<ul>
  <li>Prettier search results</li>
  <li>Add category selection to default view</li>
  <li>New styling for the dropdowns</li>
</ul>
<h3>May 30 2025</h3>
<ul>
  <li>Add Iwads to search</li>
  <li>Collapsible search results</li>
</ul>
<h3>May 29 2025</h3>
<ul>
  <li>Mark Collector as a legacy category</li>
  <li>Add Coop Spawns category</li>
  <li>Add allowed ports table</li>
</ul>
<h3>May 26 2025</h3>
<ul>
  <li>Set UV Max file code to 'm'</li>
  <li>Add easy access to the Iwads demos pages from the Iwad List</li>
</ul>
<h3>May 16 2020</h3>
<ul>
  <li>Add date to leaderboard</li>
</ul>
<h3>May 15 2020</h3>
<ul>
  <li>Add player history view</li>
</ul>
<h3>May 05 2020</h3>
<ul>
  <li>Add special mark for cheated & suspect runs</li>
</ul>
<h3>March 25 2020</h3>
<ul>
  <li>Fix crosslisting bug</li>
</ul>
<h3>March 03 2020</h3>
<ul>
  <li>Fix timeline date format</li>
</ul>
<h3>February 21 2020</h3>
<ul>
  <li>When search has one result, redirect to page</li>
  <li>Added record_view for players</li>
</ul>
<h3>February 15 2020</h3>
<ul>
  <li>Crosslist 100S categories on table view</li>
</ul>
<h3>February 14 2020</h3>
<ul>
  <li>Ignore Other Movie when tracking records</li>
  <li>Search is now case-insensitive</li>
  <li>Add basic Crispy Doom guide page</li>
</ul>
<h3>January 03 2020</h3>
<ul>
  <li>Increase contrast of table row separator</li>
</ul>
<h3>December 31 2019</h3>
<ul>
  <li>Added internal tracking of undisputed records</li>
  <li>Added advice page for new runners</li>
</ul>
<h3>December 23 2019</h3>
<ul>
  <li>Turned off the light</li>
</ul>
<h3>December 20 2019</h3>
<ul>
  <li>Add disclaimer to port list</li>
</ul>
<h3>December 04 2019</h3>
<ul>
  <li>Add internal player alias handling</li>
</ul>
<h3>November 22 2019</h3>
<ul>
  <li>Update home page text</li>
</ul>
<h3>November 10 2019</h3>
<ul>
  <li>Optimize stat queries</li>
  <li>Adjust home page text</li>
  <li>Optimize feed page</li>
  <li>Fix record field caching</li>
  <li>Improve error correction api</li>
</ul>
<h3>October 12 2019</h3>
<ul>
  <li>Optimize wad index queries</li>
  <li>Improve wad file path handling</li>
  <li>Fix bug with unsetting record fields</li>
</ul>
<h3>October 04 2019</h3>
<ul>
  <li>Optimize demo index queries</li>
  <li>Improve demo file path handling</li>
</ul>
<h3>September 04 2019</h3>
<ul>
  <li>Add meta description tags</li>
</ul>
<h3>September 03 2019</h3>
<ul>
  <li>Add doomspeeddemos stream embed page</li>
</ul>
<h3>August 21 2019</h3>
<ul>
  <li>Update table view headers</li>
  <li>Expose leaderboard wip</li>
</ul>
<h3>August 20 2019</h3>
<ul>
  <li>Add api for error correction</li>
</ul>
<h3>July 28 2019</h3>
<ul>
  <li>Improve maintenance tooling</li>
</ul>
<h3>July 27 2019</h3>
<ul>
  <li>Fix some issues related to demo removal</li>
  <li>Align times without tics</li>
</ul>
<h3>July 24 2019</h3>
<ul>
  <li>Fix record index rank number</li>
  <li>Fix an issue with record index calculation</li>
  <li>Add a label for solo_net (SN)</li>
</ul>
<h3>July 20 2019</h3>
<ul>
  <li>"Other Movie" removed from table view</li>
  <li>Secret exits removed from table for single-exit categories</li>
</ul>
<h3>July 18 2019</h3>
<ul>
  <li>Improve tooling for error fixing</li>
</ul>
<h3>July 12 2019</h3>
<ul>
  <li>Temporarily disable settings (broken js)</li>
  <li>Update home page (archive status)</li>
  <li>Update about page (new thanks)</li>
</ul>
<h3>July 11 2019</h3>
<ul>
  <li>Update intro page (game speed text)</li>
</ul>
<h3>July 07 2019</h3>
<ul>
  <li>Cache record index on demos for faster computation</li>
</ul>
<h3>July 05 2019</h3>
<ul>
  <li>Add logic for player merging (for fixes)</li>
</ul>
<h3>July 03 2019</h3>
<ul>
  <li>Add note that dates are estimated</li>
  <li>Add rank to record index table</li>
  <li>Update home page with status</li>
</ul>
<h3>July 02 2019</h3>
<ul>
  <li>Implement demo year cache</li>
  <li>Enable demo count by year plot</li>
</ul>
<h3>July 01 2019</h3>
<ul>
  <li>Temporarily disable demo count by year plot</li>
</ul>
<h3>June 28 2019</h3>
<ul>
  <li>Fixed secret exits not showing in episode views</li>
  <li>Fixed caching issue with record icons</li>
  <li>Updated level selection options on wad pages</li>
  <li>Increased wad full render limit to 1000</li>
  <li>Move incompatible demos to Other (for some wads)</li>
  <li>Remove record timeline icon from Other</li>
  <li>Fix player stats</li>
</ul>
<h3>June 25 2019</h3>
<ul>
  <li>Player record index now updates automatically</li>
</ul>
<h3>June 23 2019</h3>
<ul>
  <li>Added table view link to wad page</li>
  <li>Table view cross-lists demos from compatible categories</li>
  <li>Added category selector to table view</li>
</ul>
<h3>June 21 2019</h3>
<ul>
  <li>Added changelog</li>
  <li>Fixed demo feed default to use upload date</li>
  <li>Renamed the "Rules" page to "Intro"</li>
  <li>Added icons for record (by tics) and record (first to the second)</li>
</ul>
