<% provide(:title, "Home") %>

<div class="jumbotron">
  <div class="container">
    <h1>Doom Speed Demos Archive - R</h1>
    <p>
      This site archives demos created for Doom and related games
      (Heretic, Hexen, etc).  Demos may be recorded using any source port,
      although care should be taken to use the intended environment for each
      WAD.  Post your demos to the 
      <a href="https://www.doomworld.com/vb/doom-speed-demos/">
        Speed Demo Forum
      </a> 
      on DoomWorld.
    </p>
  </div>
</div>
