<% provide(:title, '404') %>
<% provide(:description, 'Page not found') %>

<div class="center-text">
  <h1>Oh no, the demons ate the page!</h1>
  <span class="error-404">
    4
    <%= image_tag "pinky.gif", alt: "Pinky", class: "error-image"%>
    4
  </span>

  <h3>That's what happens when you are here looking at demos instead of recording some.</h3>
  <h3>The <%= link_to("stream's", stream_url) %> kill counter isn't going to increase by itself.</h3>
</div>
