<% provide(:title, "Stats") %>

<div class="page-header">
  <h1>
    Stats & Charts
  </h1>
</div>

<%= column_chart iwad_by_wad_count,
  title: "Wad Count by Iwad",
  nonce: content_security_policy_script_nonce %>