<% provide(:title, 'Stream') %>
<% provide(:description, '24/7 stream showcasing records from across the history of Doom speedrunning') %>

<div class="center-text">
    <h1>Doom Speed Demos Stream (by Zero-Master)</h1>
    <hr>
</div>

<div id="twitch-embed"></div>

<script src="https://embed.twitch.tv/embed/v1.js"></script>
