<% provide(:title, "Settings") %>

<div class="center-text">
  <div class="well well-modest left-text">
    <legend>Settings</legend>
    <%= bootstrap_form_tag url: settings_path, method: "patch" do |f| %>
      <h4>Category Filter</h4>
      <%= f.form_group :category_filters do %>
        <% category_filter = category_filter_array %>
        <% Category.all.each do |category| %>
          <% name = category.name %>
          <%= f.check_box "cat:#{name}", label: name,
                          checked: !category_filter.include?(name) %>
        <% end %>
      <% end %>
      <hr>
      <%= f.submit "Save Settings" %>
    <% end %>
  </div>
</div>
