<% provide(:title, 'Ports') %>

<div class="center-text">
  <%= ports_header(@ports) %>

  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped">
      <tbody>
        <% @ports.chunk { |i| i.family }.each do |chunk| %>
          <tr>
            <td><%= chunk[0] %></td>
            <td>
              <% last = chunk[1].pop %>
              <% chunk[1].each do |port| %>
                <%= link_to port.version, port.file_path %>, 
              <% end %>
              <%= link_to last.version, last.file_path %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>