<% provide(:title, 'Ports') %>
<% provide(:description, 'Main index of source ports for demo playback') %>

<div class="center-text">
  <div class="page-header">
    <h1>
      Allowed Ports
    </h1>
  </div>
  <div class="port-allowed">
    <h4>
      This is the list of ports allowed
      for recording most demos.
      <br>
      <a href="https://www.doomworld.com/forum/topic/149931-source-port-enforcement-announcement-for-dsda-submissions/">Source port enforcement thread</a>
    </h4>
    <h4>
      What port you should use to <i>record</i> demos
      depends on the intended environment for each WAD.
      <br>
      Some WADS may require a port from the Archived list
    </h4>
  </div>

    <div class="hidden-overflow">
      <div class="center-text">
        <div class="panel panel-default panel-modest">
          <div class="panel-heading">
            <h3 class="panel-title">Allowed</h3>
          </div>
          <div class="table-wrapper">
            <table class="table table-striped left-text">
              <tr>
                <td>DSDA-Doom</td>
                <td><a href="https://github.com/kraflab/dsda-doom/releases">v0.28.2 or newer</a></td>
              </tr>
              <tr>
                <td>Nyan Doom</td>
                <td><a href="https://github.com/andrikpowell/nyan-doom/releases">v1.4.2 or newer</a></td>
              </tr>
              <tr>
                <td>Woof</td>
                <td><a href="https://github.com/fabiangreffrath/woof/releases">v14.5.0 or newer</a></td>
              </tr>
              <tr>
                <td>Crispy Doom</td>
                <td><a href="https://github.com/fabiangreffrath/crispy-doom/releases">v7.0.0 or newer</a></td>
              </tr>
              <tr>
                <td>Vanilla EXEs</td>
                <td>Doom, Doom 2, Final Doom</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="center-text">
        <div class="panel panel-default panel-modest">
          <div class="panel-heading">
            <h3 class="panel-title">Archived</h3>
          </div>
          <div class="table-wrapper">
            <table class="table table-striped left-text">
              <%= ports_table(@ports, false) %>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
