<% provide(:title, 'Iwads') %>
<div class="center-text">
  <h1>Iwad List</h1>
  <p class="p-short">
    <%= pluralize(@iwads.count, "iwad") %>
    <% if logged_in? %>
      <%= link_to "Create New Iwad", new_iwad_path, :class => "label label-info" %>
    <% end %>
  </p>
  
  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Wads</th>
        </tr>
      </thead>
      <tbody>
        <%= render @iwads %>
      </tbody>
    </table>
  </div>
</div>