<% provide(:title, 'Iwads') %>
<% provide(:description, 'Main index of Doom engine IWADs') %>

<div class="center-text">
  <%= iwads_header(@iwads) %>

  <div class="panel panel-default panel-modest left-text">
    <div class="table-wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Wads</th>
          </tr>
        </thead>
        <tbody>
          <%= render @iwads %>
        </tbody>
      </table>
    </div>
  </div>
</div>
