<% provide(:title, 'Wads') %>

<div class="center-text">
  <h1>Wad List</h1>
  <p class="p-short">
    <%= pluralize(@wads.count, "wad") %>
    <% if logged_in? %>
      <%= link_to "Create New Wad", new_wad_path, :class => "label label-info" %>
    <% end %>
  </p>
  
  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>File</th>
          <th>Name</th>
          <th>Author</th>
          <th>Iwad</th>
          <th>Demos</th>
          <th class="center-text">Length</th>
        </tr>
      </thead>
      <tbody>
        <%= render @wads %>
      </tbody>
    </table>
  </div>
  <div class="short-pagination">
    <%= will_paginate @wads if @is_paginated %>
  </div>
</div>