<% provide(:title, "Record Timeline") %>

<div class="page-header">
  <h1>
    Record Timeline | <%= "#{@wad.name} #{@level} #{@category}" %>
  </h1>
</div>

<canvas id="myChart" class="chart-style"></canvas>
