<% provide(:title, "Record Timeline") %>
<% provide(:description, 'Plot of the speedrunning record history') %>

<div class="page-header">
  <%= record_timeline_header(@wad, @level, @category) %>
  <h4>Note: Dates are estimated (more recent = more accurate)</h4>
</div>

<canvas id="myChart"></canvas>
