<% cache player do %>
  <tr>
    <td><%= link_to player.name, player %></td>
    <td><%= player.demos.count %></td>
    <td class="demo-time right-text"><%= total_time(player) %></td>
  </tr>
<% end %>
