<% cache player do %>
  <tr>
    <td><%= link_to player.name, player %></td>
    <% data = count_and_total_time(player, false) %>
    <td><%= data.count %></td>
    <td class="right-text demo-time"><%= data.total_time %></td>
  </tr>
<% end %>
