<% provide(:title, 'Players') %>
<% provide(:description, 'Main index of Doom speedrunners') %>

<div class="center-text">
  <%= players_header(@players) %>

  <div class="panel panel-default panel-modest left-text">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Demos</th>
          <th class="center-text">Length</th>
        </tr>
      </thead>
      <tbody>
        <%= render @players %>
      </tbody>
    </table>
  </div>
  <br>
  <%= paginate @players %>
</div>
