@import "bootstrap-sprockets";
@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "bootswatch/cyborg/bootswatch";

@import "static_pages.scss";
@import "wads.scss";

a {
  color: $link-color;
  text-decoration: $link-decoration;
}

a:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

code {
  background-color: transparent;
  color: $link-color
}

body {
  position: relative;
  padding-top: 60px;
}

.bg-image {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: -10;
}

row-no-top {
  border-top: 0;
}

.alert-danger {
  background-color: #990000;
}

.hidden-overflow {
  overflow: hidden;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.one-line {
  display: inline-block;
}

.shift-right {
  margin-left: 5px;
}

.navbar-fixed-top {
  background-color: rgba($gray-base, 0.3);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  padding-top: 500px;
  top: -500px;
}

.navbar-form {
  margin-top: 6px;
  padding-right: 0;
  padding-left: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}

.form-control {
  color: white;
  background: #383838;
}

/* Desktop */
@media (min-width: $screen-sm-max) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Mobile Only */
@media (max-width: $screen-sm-min) {

  // top nav tweaks
  .navbar-fixed-top {
    background-color: rgba($gray-base, 0.8) !important;
  }

  .navbar-form .form-group {
    margin-bottom: 5px;
    width: 100%;
    margin-right: 8px;
    height: 30px;
  }

  form.navbar-form.navbar-left.form-inline {
    padding: 3px 25px;
    display: flex;
  }

  #header-navbar > .nav > li {
    border-bottom: 1px solid $gray-dark;
  }

  #header-navbar > .nav:last-child > li:first-child {
      border-top: 1px solid $gray-dark;
  }

  #header-navbar > .nav:last-child > li:last-child {
      border-bottom: none;
  }

  #header-navbar > .navbar-nav {
    margin-left: 0px;
    margin-right: 0px;
  }

  #header-navbar {
    margin-top: 50px;
  }

  // table tweaks
  .table-modest,
  .panel-modest {
    max-width: 100% !important;
  }

  .table, table {
    margin-bottom: 0px !important;
  }

  .col-md-6 {
    padding: 0px !important;
  }

  .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #282828;
    background-color: $gray;
  }
}

.form-control::placeholder {
  color: darken(white, 40%);
}

.form-control:focus::placeholder {
  color: darken(white, 20%);
}

.btn-short {
  margin-top: -10px;
  margin-bottom: 10px;
}

.no-display {
  display: none;
}

.alert-modest {
  width: auto;
  min-width: 500px;
  display: inline-block;
}

.well-modest {
  width: auto;
  min-width: 500px;
  display: inline-block;
}

.well {
  background-color: $well-bg;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: $well-border;
}

.well-sm {
  padding: 18px;
  border-radius: 8px;
  margin-top: 20px;
}

.port-allowed {
  margin-bottom: 3em;
}

.port-allowed h4 {
  line-height: $line-height-base;
}

// scrollbar colour
pre, .table-wrapper {
  scrollbar-color: darken($brand-primary, 20%) $table-bg;
}


.table-wrapper {
  display: block;
  overflow-x: auto;
  border-radius: $border-radius-base;
}

.table, table {
  margin-bottom: 0px !important;
}

.table-modest {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.table-left {
  border-left: thin solid $table-border-color;
}

.wad-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wads-brand {
  font-size: $font-size-large;
}

.wad-letter:first-child a, .wad-letter:first-child a:hover {
    border-radius: 5px 0px 0px 5px;
}

.wad-letter:last-child a, .wad-letter:last-child a:hover {
    border-radius: 0px 5px 5px 0px;
}

.wad-letter a {
  margin-left: -2px;
  margin-right: -2px;
}

.wad-letter a:hover {
  background-color: rgba($wad-letter-hover, 0.3);
}

.page-header {
  margin-top: 21px;
  border-bottom: 1px solid $hr-border;
}

table a:not(.btn), .table a:not(.btn) {
  color: $link-color;
  text-decoration: $link-decoration;
}

table a:not(.btn):hover, .table a:not(.btn):hover {
  color: $link-hover-color;
  text-decoration: $link-decoration;
}

.dropdown-item-form { margin: 0; }
.dropdown-item-form,
.dropdown-item-form .dropdown-item-button {
  display: block;
  width: 100%;
}

.dropdown-item-button{
  text-align: left;
  padding: 4px 10px;
}

.p-short {
  margin-top: -8px;
}

.panel-heading {
  padding-top: 13px;
}

.panel-heading h3 {
  font-weight: 600;
}

.panel-default {
  border-color: $panel-border-color;
}

.panel-heading > .panel-title,
.panel-default > .panel-heading > .panel-title {
  color: $panel-title-color;
}

.panel-heading,
.panel-default > .panel-heading {
  background-color: $panel-title-bg;
}

.panel-modest {
  display: inline-block;
  min-width: 0%;
}

.panel-body-short {
  padding-top: 5px;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.wadfile {
  font-family: $font-family-monospace;
}

.demo-time {
  font-family: $font-family-monospace;
}

a.btn {
  border-width: 0px;
}

span.glyphicon {
  top: 2px;
}

.chart-style {
  height: 360px;
}

.table > thead > tr > th, .table > thead > tr > td,
.table > tbody > tr > th, .table > tbody > tr > td,
.table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  background-color: $table-title-bg;
  color: $table-title-color;
}

.table {
  border-radius: $border-radius-base;
}

.table > thead > tr > th {
  padding-top: 11px;
}

/* make table use border radius globals */
.table > thead:first-child > tr:first-child > th:first-child {
    border-top-left-radius: $border-radius-base !important;
}

.table > thead:first-child > tr:first-child > th:last-child {
    border-top-right-radius: $border-radius-base !important;
}

.table > tbody:last-child > tr:last-child > td:first-child {
    border-bottom-left-radius: $border-radius-base !important;
}

.table > tbody:last-child > tr:last-child > td:last-child {
    border-bottom-right-radius: $border-radius-base !important;
}

.no-stripe-panel {
  background-color: $table-bg;
}

.better-time {
  background-color: #004400;
  font-weight: bold;
}

.ui-autocomplete {
  list-style-type: none;
  padding-left: 0px;
}

.ui-menu-item-wrapper {
  padding-left: 15px;
}

.checkbox {
  margin-top: 0px;
}

.cell-no-wrap {
  white-space: nowrap;
}

.player-cell {
  white-space: pre;
}

.note-cell {
  white-space: pre;
}

.engine-cell {
  white-space: pre;
}

.table > tbody > tr > td.tag-text {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: pre-wrap;
  max-width: 400px;
}

.pagination {
  margin: 0;
}

.unstyled-button {
  all: unset;
  cursor: pointer;
}

.cookie-banner {
  position: fixed;
  bottom: 2em;
  background-color: rgba($gray-base, 0.6);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 2px solid $gray-light;
  border-radius: 10px;
  color: white;
  padding: 1em;
  z-index: 1000;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  max-width: 90vw;
}

.cookie-banner .btn {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: $link-color;
}

.footer .p-short {
  margin-top: -4px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: baseline;
}

.debug_dump {
  background-color: $table-bg;
  border: 1px solid $panel-inner-border;
  color: $table-text-color;
}
