@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";

body {
  padding-top: 80px;
}

.wad-letter {
  margin-left: -2px;
  margin-right: -2px;
}

.table-split {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: inherit;
}

.panel-body-short {
  margin-bottom: 0px;
}
