@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";

body {
  padding-top: 80px;
}

.wad-letter {
  margin-left: -2px;
  margin-right: -2px;
}

.table-split {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: inherit;
}

.panel-body-short {
  margin-bottom: 0px;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

.panel-modest {
  display: inline-block;
  min-width: 50%;
}

.panel-title > a.label-info {
  color: $state-info-text;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.wadfile {
  font-family: "Lucida Console", Monaco, monospace;
}

a.btn {
  border-width: 0px;
}

span.glyphicon {
  top: 2px;
}
