@import "bootstrap-sprockets";
@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "bootswatch/simplex/bootswatch";

body {
  padding-top: 60px;
}

.wad-letter {
  margin-left: -2px;
  margin-right: -2px;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

.p-short {
  margin-top: -10px;
}

.panel-modest {
  display: inline-block;
  min-width: 50%;
}

.panel-title > a.label-info {
  color: white;
}

.panel-body-short {
  padding-top: 5px;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.wadfile {
  font-family: "Lucida Console", Monaco, monospace;
}

a.btn {
  border-width: 0px;
}

span.glyphicon {
  top: 2px;
}

.chart-style {
  height: 300px;
  width: 100%;
  text-align: center;
  color: #999;
  line-height: 300px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
}

.table > thead > tr > th, .table > thead > tr > td,
.table > tbody > tr > th, .table > tbody > tr > td,
.table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
}

.no-stripe {
  background-color: white;
}

.ui-autocomplete {
  list-style-type: none;
  padding-left: 0px;
}

.ui-menu-item-wrapper {
  padding-left: 15px;
}

.checkbox {
  margin-top: 0px;
}

.cell-no-wrap {
  white-space: nowrap;
}

.player-cell {
  white-space: pre;
}
