// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toggle-search-results {
  background: none;
  border: none;
  color: white;
}

.toggle-search-results:hover {
  text-decoration: underline; /* Optional hover style */
}

.toggle-search-results[aria-expanded="true"] .glyphicon-chevron-down {
  transform: rotate(0deg);
}

.toggle-search-results[aria-expanded="false"] .glyphicon-chevron-down {
  transform: rotate(-90deg);
}

.error-404 {
  color: white;
  font-size: 15em;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  white-space: nowrap;
}

.error-404 img {
  height: 1em;
}
