// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toggle-search-results {
  background: none;
  border: none;
  color: white;
}

.toggle-search-results:hover {
  text-decoration: underline; /* Optional hover style */
}

.toggle-search-results[aria-expanded="true"] .glyphicon-chevron-down {
  transform: rotate(0deg);
}

.toggle-search-results[aria-expanded="false"] .glyphicon-chevron-down {
  transform: rotate(-90deg);
}

.error-404 {
  color: white;
  font-size: 15em;
  font-weight: bold;
  white-space: nowrap;
}

.error-404 img {
  height: 1em;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  padding: 0;
}

.docs-container {
  min-width: 70%;
  max-width: 100%;
  display: inline-block;
}

.docs-details {
  color: #ccc;
  background-color: $table-bg;
  border: 1px solid $table-border-color;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1em;
}

.docs-summary {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  padding-left: 30px;
}

.docs-summary::before {
  content: "▶";
  position: absolute;
  left: 0;
  transition: transform 0.2s;
}

.docs-details[open] .docs-summary::before {
  transform: rotate(90deg);
}

.docs-table {
  width: 100%;
  background-color: $table-bg-accent;
  border-radius: 10px;
}

.docs-pre {
  color: white;
  background-color: $table-bg-accent;
  border: 0px solid $table-border-color;
  border-radius: 10px;
}
