// Place all the styles related to the Wads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-title {
  margin-top: 2px;
}

.caret {
  color: $link-color;
}

.fix-dropdown {
  appearance: none;
  margin: 0;
  padding: 0;
  color: $link-color;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.fix-dropdown:hover,
.fix-dropdown:focus {
  outline: none;
  text-decoration: underline;
}
