// Place all the styles related to the Wads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-title {
  margin-top: 2px;
}

.caret {
  color: $link-color;
}

.dropdown-toggle {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: -1px;
  left: 2px;
  margin: 0;
  padding: 0;
  color: $link-color;
  background-color: transparent;
  border-color: transparent;
  text-decoration: $link-decoration;
  cursor: pointer;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  outline: none;
  text-decoration: underline;
}

.dropdown-menu {
  top: -10px;
  border-radius: 5px;
  padding: 4px;
  width: max-content;
  min-width: 0;
  background-color: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  max-height: 70vh;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-behavior: contain;
  scrollbar-color: rgba(100, 100, 100, 0.6) transparent;
  scrollbar-width: thin;
}

.dropdown-menu a {
  white-space: nowrap;
  border-radius: 5px;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: $component-active-bg !important;
}

.dropdown-selected {
  position: relative;
}

.dropdown-selected::before {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 3px;
  color: white;
  font-weight: bold;
}
