<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Demo Categories & Types</h3>
  </div>
  <div class="panel-body">
    <p>
      The following categories and types are the most common and widely
      recognized, but this archive will host any demo.
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>File Code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="cell-no-wrap">UV Speed</td>
          <td>-</td>
          <td>Exit as fast as possible on skill 4.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">UV Max</td>
          <td>m</td>
          <td>Exit with all monsters dead (except lost souls) and all secrets collected on skill 4.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">UV Fast</td>
          <td>f</td>
          <td>Exit with all monsters dead (except lost souls) and all secrets collected on skill 4, using the -fast parameter.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">UV Respawn</td>
          <td>r</td>
          <td>Exit with 100% Kills and all secrets collected on skill 4, using the -respawn parameter.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">UV Tyson</td>
          <td>t</td>
          <td>Exit with all monsters dead (except lost souls) on skill 4, using only weapons 1 and 2 (fist, chainsaw, pistol).</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">UV Pacifist</td>
          <td>p</td>
          <td>Exit as fast as possible on skill 4, without hurting monsters either directly or indirectly (no barrels).</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">NM Speed</td>
          <td>n</td>
          <td>Exit as fast as possible on skill 5.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">NM 100S</td>
          <td>s</td>
          <td>Exit with all secrets collected on skill 5.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">NoMo</td>
          <td>o</td>
          <td>Exit as fast as possible, using the -nomonsters parameter.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">NoMo 100S</td>
          <td>os</td>
          <td>Exit with all secrets collected, using the -nomonsters parameter.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">Stroller</td>
          <td>str</td>
          <td>UV Pacifist, using the -turbo 50 parameter, without strafing. -stroller the port supports.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">Collector</td>
          <td>col</td>
          <td>Exit with all weapons & keys picked up, using the -nomonsters parameter.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">Other</td>
          <td></td>
          <td>Any nonstandard demo category / challenge.</td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>File Code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="cell-no-wrap">TAS</td>
          <td>x</td>
          <td>Any category, using tool assistance.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">Coop</td>
          <td>c</td>
          <td>Any category, with some friends.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">Reality</td>
          <td>reality</td>
          <td>Any category, without taking damage.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">Solo Net</td>
          <td>sn</td>
          <td>Any category, using the -solo-net parameter.</td>
        </tr>
        <tr>
          <td class="cell-no-wrap">Turbo</td>
          <td>tu</td>
          <td>Any category, using the -turbo xyz parameter.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
