<hr>
<footer class="footer">
  <small>
    <p class="pull-left"> © <%= Time.now.year %></p>
    <a class="pull-right" href="<%= about_url %>">About</a>
    <p class="pull-right">&nbsp;|&nbsp;</p>
    <a class="pull-right" href="<%= changelog_url %>">Changelog</a>
    <p class="pull-right">&nbsp;|&nbsp;</p>
    <a class="pull-right" href="<%= api_docs_url %>">API</a>
    <br>
  </small>
</footer>
<hr>
