<hr>
<footer class="footer">
  <small>
    © <%= Time.now.year %> Kraflab
    <a class= "pull-right" href="<%= about_url %>">About</a>
    <p class= "pull-right">&nbsp;|&nbsp;</p>
    <a class= "pull-right" href="<%= changelog_url %>">Changelog</a>
  </small>
</footer>
<hr>
