<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recording & Playback</h3>
  </div>
  <div class="panel-body">
    <p>
      For demo recording and playback information, check the detailed
      <a href=https://www.doomworld.com/forum/topic/130670-welcome-to-the-speed-demos-forum-getting-started-port-usage-info-co-op-etc/>
        welcome thread
      </a>
      at the Speed Demo Forum.  The majority of players prefer to use DSDA-Doom to
      record and play demos for vanilla, limit-removing, mbf, and boom formats.
      (G)ZDoom is generally only used for (G)ZDoom-specific wads.  Note that
      DSDA-Doom maintains backwards compatibility, but <b>(G)ZDoom does not</b>.
      Always use the source port version that a (G)ZDoom demo was recorded on to
      ensure proper playback.
    </p>
  </div>
</div>
