<div class="center-text">
  <div class="panel panel-default panel-modest left-text">
    <div class="panel-heading">
      <h3 class="panel-title">
        List of Tools
      </h3>
    </div>
    
    <table class="table">
      <tbody>
        <tr>
          <td>LMPC</td>
          <td>Little Movie Processing Center v3.30</td>
        </tr>
        <tr>
          <td>Boom-LMPC</td>
          <td>Boom Little Movie Processing Center v2.0</td>
        </tr>
        <tr>
          <td>Timer</td>
          <td>Allows exact timing of demos without a tally screen. Pretty much deprecated with PRBoom+ around.</td>
        </tr>
        <tr>
          <td>DooM Replay Editor</td>
          <td>Allows frame-by-frame creation of demos. Based on PRBoom+ v2.2.6.2, so it's a little out of date.</td>
        </tr>
        <tr>
          <td>XDRE v2.14</td>
          <td>Updated, more customizable DooM Replay Editor with limited brute-forcing. Based on PRBoom+ v2.5.1.4.</td>
        </tr>
        <tr>
          <td>DooM Mouse Spinner</td>
          <td>Allows instant 180° turns. For use with Vanilla DooM.</td>
        </tr>
        <tr>
          <td>Opulent's Demo Analysis Tool</td>
          <td>Based on PRBoom+ v2.5.1.3.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
