<div class="navbar">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="wad-letter">
        <%= link_to 'WADs', wads_url, class: 'navbar-brand' %>
      </li>
      <% ( ['#'] + ('A'..'Z').to_a).each do |char| %>
        <li class="wad-letter">
          <% letter = char == '#' ? '9' : char.downcase %>
          <%= link_to char, wads_url(letter: letter) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
