<div class="navbar">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="wad-letter">
        <a class="navbar-brand" href="#">WADs</a>
      </li>
      <% ( ('A'..'Z').to_a + ["#"] ).each do |char| %>
        <li class="wad-letter">
          <%= link_to char, "#" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>