.bg-image {
  background-image: image-url("redsand.jpg");
}

$brand-primary: white;
$brand-highlight: #e3e3e3;
$brand-darker: #820000 !default;

$text-color: #eee;
$component-active-bg: #820000;

$link-color: $brand-primary;
$link-decoration: underline;
$link-hover-color: $brand-primary;
$link-hover-decoration: underline;

$wad-letter-hover: #888 !default;

$table-text-color: $text-color;
$table-bg: #660001;
$table-bg-accent: #820000;

$panel-title-color: #eee;
$panel-title-bg: $table-bg !important;
$panel-border-color: white;
$table-title-color: #eee;
$table-title-bg: $table-bg !important;
$table-border-color: white;

$panel-bg: $table-bg-accent;
$panel-inner-border: white;
$panel-border-radius: 0;

$jumbotron-bg: $table-bg;
$jumbotron-border: solid 1px $table-border-color;

$well-bg: rgba(0, 0, 0, 0.6);
$well-border: 1px solid #0e0e0e;

.form-control {
  color: #282828 !important;
  background: white !important;
}

.form-control:focus {
  color: #282828;
  background: white;
}

.form-control::Placeholder {
  color: #777 !important;
}

$hr-border: darken($text-color, 50%);

.navbar a:hover, .navbar li:hover {
  text-decoration: $link-hover-decoration;
}

@import "custom";
