$text-color: #a9a9a9;
$table-text-color: #eee;

$body-bg: #000;
$brand-primary: #cf48f8;
$brand-highlight: #e175ff;
$brand-darker: #8b28a9;

$wad-letter-hover: #c738f2;

$panel-title-color: #e9e9e9;
$panel-title-bg: #8b28a9;
$panel-bg: rgba(75, 75, 75, 0.15);

$jumbotron-bg: rgba(75, 75, 75, 0.15);

$table-bg-accent:               darken($brand-darker, 28px);
$table-bg:                      darken($table-bg-accent, 5%);

$hr-border: darken($brand-darker, 10px);
$table-border-color: $table-bg;
$panel-border-color: $table-bg;

$border-radius-base:        6px;
$border-radius-large:       10px;
$border-radius-small:       4px;
$jumbotron-border-radius:   6px;

$input-border-focus: #c179e4;


.bg-image {
    background: repeating-linear-gradient(
    -45deg,
    $brand-primary, /* Stripe Color 1 */
    $brand-primary 40px, /* Thickness of Stripe 1 */
    $brand-darker 40px, /* Color 2 */
    $brand-darker 80px /* Thickness of Stripe 2 */
  );
  opacity: 0.07;
}

.jumbotron {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.panel, .jumbotron, .docs-details, .docs-intro, .well {
  background-color: rgba(75, 75, 75, 0.15) !important;
  background: linear-gradient(340deg, rgba(204, 204, 204, 0.01) 0%, rgba(89, 25, 131, 0.1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(204, 204, 204, 0.01) 0%, rgba(89, 25, 131, 0.1) 100%);
  background: -moz-linear-gradient(340deg, rgba(204, 204, 204, 0.01) 0%, rgba(89, 25, 131, 0.1) 100%);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 1);
}

.panel-heading, .table > thead > tr {
  background: linear-gradient(340deg, rgb(128, 20, 181) 0%, rgb(89, 25, 131) 100%);
  background: -webkit-linear-gradient(340deg, rgb(128, 20, 181) 0%, rgb(89, 25, 131) 100%);
  background: -moz-linear-gradient(340deg, rgb(128, 20, 181) 0%, rgb(89, 25, 131) 100%);
}

.table > thead > tr > th {
  border-bottom: none !important;
  background-color:unset !important;
}

hr {
  border-top: 2px solid #691e80 !important;
}

.page-header {
  border-bottom: 2px solid #691e80 !important;
}

hr, .page-header {
  border-image: linear-gradient(340deg, rgba(89, 25, 131, 0.4) 0%, rgba(134, 12, 132, 0.4) 100%) !important;
  border-image-slice: 1 !important;
  border-width: 2px !important;
}

.docs-table, .docs-pre {
  background-color: #16081b !important;
}

@import "custom";

.form-control {
  color: white;
  background: #44234e;
}
